<h2> Welcome to Le-Wagon Airbnb</h2>
Dear <%= @user.email %>,
Welcome to LeWagon airbnb <br/>
were you can join for FREE and search places around the world<br/>
To complete your sign up please click on the link below<br/>
<%= link_to "this link", user_profile_show_url %>
<br/><br/>
Thanks and regards<br/>
  le wagon airbnb
