<div class="container">
  <div class="row" id="rowHomePage">
    <div class="col-md-6 col-md-offset-3" id="colHomePage">
      <h1>ALOHA FRIEND</h1>
      <h3>You are knocking the door to wonderful places</h3>
        <div class="input-group">
          <input type="text" id="primary-search-bar" class="search-query form-control" placeholder="Where do you want to go?" />
          <span class="input-group-btn">
            <button class="btn btn-info" type="button">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
    </div> <!-- end columns -->
  </div><!-- end row -->
</div><!-- end container -->

<!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->
