<div class="container">
  <div class="row">
  <h2>Search..</h2>
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input type="text" id="primary-search-bar" class="search-query form-control" placeholder="Search" />
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">
            <span class=" glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

