// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//

#custom-search-input{
  width: 60%;
}

body{
  background: image-url("hp_bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

#colHomePage{
	text-align: center;
	h1,h3{
		color: #f40000;
		font-weight: bold;
	}
	h1{
		font-size: 4em;
	}
}

#rowHomePage{
	background-color: rgba(255,255,255, 0.8);
	padding-bottom: 50px;
	border-radius: 10px;
}


.divFrmButton{
	text-align: center;
	input[type=submit]{
		width: 50%!important;
	}
}
