// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#postsindex{
	text-align: left;
	padding-left: 20%;
}

#listting-button{
	text-align: left;
	padding-left: 20%;
}


#listing-form{
  text-align: left;
  padding-left: 20%;
}

#listing-new-form{
  width: 75%;
  padding-left: 20%;
}

#listing-edit-form{
  width: 75%;
  padding-left: 20%;
}

#show-post{
  padding-top: 2%;

  padding-left: 10%;
}
